<header class="container-fluid">
  <div class="row pb-1">
    <div class="col-10 col-lg-4">
      <h1 class="pt-1"><span></span><b>NRAO</b> Archive Access</h1>
      <p class="dataIncluded">Jansky-VLA, ALMA Cycle 1+ and VLBA data</p>
    </div>
    <div class="col-2 col-lg-1 hidden-lg-up text-right pt-2">
      <button type="button" class="btn btn-light d-lg-none" (click)="showNav = !showNav"><i class="fas fa-bars"></i>
      </button>
    </div>
    <div class="col-12 col-lg-7">
      <nav id="tool_nav" class="row flex-md-row justify-content-md-end text-center" *ngIf="showNav" @vslider>
        <a href="/" class="col-12 col-lg-auto"><i class="fas fa-home"></i> Home</a>
        <a href="#" class="col-12 col-lg-auto"><i class="fas fa-link"></i> Legacy Archive</a>
        <a href="#" class="col-12 col-lg-auto"><i class="fas fa-file-alt"></i> About</a>
        <a href="#" class="col-12 col-lg-auto"><i class="fas fa-sign-in-alt"></i> Log In</a>
      </nav>
      <div class="row">
        <div class="col text-right pt-2" *ngIf="config">
          {{cartItems}} Items of  {{ maxAllowedFiles() }} <span
          class="badge badge-light">{{cartSize | fileSize}} of {{ config.download_size_limit | fileSize }}</span>
          <button class="btn btn-outline-light btn-sm ml-1 active" type="button" (click)="expandItems = !expandItems"
                  [hidden]="!expandItems"><i class="fas fa-chevron-down"></i></button>
          <button class="btn btn-outline-light btn-sm ml-1" type="button" (click)="expandItems = !expandItems"
                  [hidden]="expandItems"><i class="fas fa-chevron-up"></i></button>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- selected items list -->
<div class="container-fluid bg-light border-bottom" @vslider *ngIf="expandItems">
  <div class="row align-items-baseline">
    <div class="col-12 col-lg py-3">
      <h4 class="m-0">{{cartItems}} Items of {{ maxAllowedFiles() }} <span
        class="badge badge-light border">{{cartSize | fileSize}}
        of {{ config.download_size_limit | fileSize }}</span>
      </h4>
    </div>
    <div class="col-auto col-lg-auto py-3">
      <button type="button" class="btn btn-primary"><i class="fas fa-download"></i> Download All</button>
    </div>
    <div class="col-6 col-lg-auto py-3">
      <button type="button" class="btn btn-danger" (click)="clearCart()"><i class="fas fa-times-circle"></i> Clear
        All
      </button>
    </div>
  </div>
  <ul class="list-unstyled m-0 py-1" *ngIf="cartItems > 0">
    <li *ngFor="let item of cart; let i = index" class="row py-1 align-items-baseline"
        [ngClass]="(i % 2 == 0)? 'bg-white' : ''">
      <div class="col-12 col-lg-8">
        <button type="button" class="btn text-danger" (click)="removeItem(item.uid)"><i
          class="fas fa-times-circle"></i></button>
        {{item.name}} : {{item.uid}}
      </div>
      <div class="col-6 col-lg-2"><span class="badge badge-light border">Type</span> {{item.type}}</div>
      <div class="col-6 col-lg-2"><span class="badge badge-light border">Size</span> {{item.size | fileSize}}</div>
    </li>
  </ul>
</div>
<!--// selected items list -->
