<footer class="container-fluid border-top bg-light" style="box-shadow: inset 0 100px 100px -100px rgba(0,0,0,0.3);">
  <div class="row p-5">
    <div class="col-12 col-md-3">
      <div class="row align-items-center">
        <div class="col-3">
          <img src="./assets/images/NRAO_logo_white_border.png" alt="National Radio Astronomy Observatory" class="img-fluid" />
        </div>
        <div class="col-4">
          <img src="./assets/images/NSF-logo.png" alt="National Science Foundation" class="img-fluid" />
        </div>
        <div class="col-5 pl-0">
          <img src="./assets/images/AUI_logo_color.png" alt="Associated Universities Inc" class="img-fluid" />
        </div>
      </div><!--//row -->
    </div><!--// col -->
    <div class="col-12 col-md-9">
      <p>
        <a href="" class="btn btn-link">Staff</a>
        <a href="" class="btn btn-link">Policies</a>
        <a href="" class="btn btn-link">Diversity</a>
      </p>
      <p class="small text-muted ml-2">The National Radio Astronomy Observatory is a facility of the National Science Foundation operated under cooperative agreement by Associated Universities, Inc.</p>
    </div>
  </div>
</footer>
