<div *ngIf="spinner" class="container-fluid text-center">
  <img src="../../../assets/images/draft_spinner200x200_50fps.gif" alt="Loading"/>
  <h4>Getting Details</h4>
</div>

<div *ngIf="!spinner" class="container-fluid">
  <div class="row bg-light border-bottom py-2">
    <div class="col">
      <h2 class="pt-1">Observation: {{ observation.project_code }}</h2>
    </div>
    <div class="col-auto">
      <button type="button" *ngIf="showBack" (click)="goBack()" class="btn btn-lg btn-outline-secondary"><i
        class="fas fa-arrow-circle-left"></i> Back
      </button>
    </div>
  </div>

  <div class="row p-2 border-bottom bg-light">
    <div class="col-12 col-lg-9">
      <h3 class="py-2">{{observation.title}}</h3>

      <p class="py-2">
        <span *ngIf="observation.coIs.length > 1"><b>Investigators</b>: {{ observation.coIs.join(', ') }} <br/></span>
        <b>Principal Investigator:</b> {{observation.pi}}
      </p>
      <p><b>Project Code</b>: <a [routerLink]="['/aat/Project/', observation.project_code]">{{observation.project_code}}</a></p>
      <button type="button" class="btn btn-lg btn-primary" (click)="addToCart()">Add to Project</button>
      <p><b>Estimated Size</b>: {{observation.access_estsize | fileSize }}</p>
    </div>
    <div class="col-12 col-lg-3">
      <h3 class="m-0">{{ observation.instrument_name }}</h3>
      <p>
        <span class="badge badge-light border">Config</span> {{observation.vla_configuration}} <br/>
        <span class="badge badge-light border">Bands</span> {{observation.obs_band.join(', ') }} <br/>
        <span class="badge badge-light border">Type</span> {{observation.dataproduct_type | titlecase}} <br/>
        <span class="badge badge-light border">Scans</span> {{ observation.num_scans | number:'1.0-0'}}<br/>
        <span class="badge badge-light border">Release Date</span> {{observation.obs_release_date | date:'mediumDate' }}
        <br/>
        <span class="badge badge-light border">Start</span> {{observation.obs_start | date:'mediumDate' }}<br/>
        <span class="badge badge-light border">End</span> {{observation.obs_stop | date:'mediumDate' }}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-4 col-xl-3 py-2 bg-light border-right">
      <h4>Abstract</h4>
      <p>
        {{getAbstract()}}
        <a href="javascript: void(0);" (click)="expandedAbstract = !expandedAbstract"
           *ngIf="expandedAbstract && observation.abstract.length > 200">Less</a>
        <a href="javascript: void(0);" (click)="expandedAbstract = !expandedAbstract"
           *ngIf="!expandedAbstract && observation.abstract.length > 200">More</a>
      </p>
    </div>
    <div class="col-12 col-lg-8 col-xl-9">
      <div class="row bg-info text-white py-2">
        <div class="col">
          <h3 class="m-0">Subscans</h3>
        </div>
      </div>
      <div class="row border-bottom py-2" *ngFor="let subscan of observation.subscans">
        <div class="col-12 col-lg-4">
          <p>
            <span
              class="badge badge-light border">Longitude</span> {{getLng(subscan.target_pos_equatorial) | coordFormat:'HMS'}}
            <br/>
            <span
              class="badge badge-light border">Latitude</span> {{getLat(subscan.target_pos_equatorial) | coordFormat:'DMS'}}
            <br/>
            <span class="badge badge-light border">Target Name</span> {{subscan.target_name}}
          </p>
        </div>
        <div class="col-12 col-lg-4">
          <p>
            <span class="badge badge-light border">Intent</span> {{subscan.scan_intent}}<br/>
            <span class="badge badge-light border">Temporal Resolution</span> {{subscan.t_resolution}}
          </p>
        </div>
        <div class="col-12 col-lg-4">
          <p class="m-0 p-0" *ngFor="let dd of subscan.datadesc">
            {{dd.center_frequency | frequency:7}} - {{dd.bandwidth | frequency:0}}
            ({{dd.polarizations}})
          </p>
        </div>
      </div>

    </div>
  </div>

</div>

