<fieldset [formGroup]="dateGroup">
  <div class="form-row py-1 border-top" (click)="isCollapsed = !isCollapsed">
    <legend class="col mb-0 text-uppercase" >Dates</legend>
    <p class="col-auto mb-0">
      <!-- fontawesome replaces the <i> tag with an svg for the icon, so we can't show/hide on the <i>
      so we need to include both and show/hide them based on isCollapsed -->
      <button type="button" class="btn btn-link" [hidden]="!isCollapsed">
         <i class="fas fa-chevron-up"></i>
      </button>
      <button type="button" class="btn btn-link" [hidden]="isCollapsed">
         <i class="fas fa-chevron-down"></i>
      </button>
    </p>
  </div>
  <div *ngIf="!isCollapsed" @vslider>
    <div class="form-row py-3">
      <div class="col-md form-group">
        <label for="from-date">From</label>
        <div class="input-group">
          <input type="text" name="from-date" id="from-date" class="form-control" placeholder="YYYY-MM-DD" ngbDatepicker #fd="ngbDatepicker" formControlName="fromDate"  />
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button" id="from_datePicker" (click)="fd.toggle()"><i class="fas fa-calendar"></i>
            </button>
          </div>
        </div>
        <div class="border rounded border-danger text-danger mt-1 p-1" *ngIf="dateGroup.get('fromDate').errors && dateGroup.get('fromDate').dirty && dateGroup.get('fromDate').errors.invalidDate">
          Dates should be in the YYYY-MM-DD format
        </div>
      </div>
      <div class="col-md form-group">
        <label for="to-date">To</label>
        <div class="input-group">
          <input type="text" name="to-date" id="to-date" class="form-control" placeholder="YYYY-MM-DD" ngbDatepicker #td="ngbDatepicker" formControlName="toDate" />
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button" id="to_datePciker" (click)="td.toggle()"><i class="fas fa-calendar"></i>
            </button>
          </div>
        </div>
        <div class="border rounded border-danger text-danger mt-1 p-1" *ngIf="dateGroup.get('toDate').errors && dateGroup.get('toDate').dirty && dateGroup.get('toDate').errors.invalidDate">
          Dates should be in the YYYY-MM-DD format
        </div>
      </div>
    </div>
  </div>
</fieldset>
