<form id="filters" [formGroup]="filterForm" (ngSubmit)="onSubmit()">
  <!-- we have to have a formGroup on every form tag, even if its empty -->
  <!-- keeping this filter here, rather than in it's own component makes filter loading easier -->
  <fieldset class="row" *ngIf="resultType">
    <div class="form-row py-1 border-top bg-secondary text-light"
         (click)="isResultTypeCollapsed = !isResultTypeCollapsed">
      <legend class="col mb-0 pl-3">{{ resultType.name }} Search</legend>
      <p class="col-auto mb-0 pr-3">
        <!-- fontawesome replaces the <i> tag with an svg for the icon, so we can't show/hide on the <i>
        so we need to include both and show/hide them based on isCollapsed -->
        <button type="button" class="btn btn-link" [hidden]="!isResultTypeCollapsed">
          <i class="fas fa-chevron-up"></i>
        </button>
        <button type="button" class="btn btn-link" [hidden]="isResultTypeCollapsed">
          <i class="fas fa-chevron-down"></i>
        </button>
      </p>
    </div>
    <div *ngIf="!isResultTypeCollapsed" @vslider>
      <div class="list-group list-group-flush" role="group">
        <a routerLink="{{intent}}" (click)="isResultTypeCollapsed = true" queryParamsHandling="preserve"
           *ngFor="let intent of resultTypes" class="h5 text-left p-3"
           [ngClass]="intent == resultType.name ? 'bg-secondary text-white' : 'bg-light'">{{intent}}</a>
      </div>
    </div>
  </fieldset>

  <div formArrayName="filters">
    <ng-template #primary></ng-template>
    <ng-template #secondary></ng-template>
  </div>

  <div class="row form-row py-2 border-top">
    <div class="col pl-0">
      <button type="button" class="btn btn-block btn-outline-primary text-uppercase" *ngIf="!exposeSecondaryFilters"
              (click)="toggleSecondaryFilters()">More Filters
      </button>
      <button type="button" class="btn btn-block btn-outline-primary text-uppercase" *ngIf="exposeSecondaryFilters"
              (click)="toggleSecondaryFilters()">Less Filters
      </button>
    </div>
    <div class="col pr-0">
      <button type="submit" class="btn btn-block btn-success text-uppercase" [disabled]="!filterForm.valid">Search
      </button>
    </div>
  </div>

</form>
