<fieldset [formGroup]="frequencyGroup">
  <div class="form-row py-1 border-top" (click)="isCollapsed = !isCollapsed">
    <legend class="col mb-0 text-uppercase">Frequency</legend>
    <p class="col-auto mb-0">
      <!-- fontawesome replaces the <i> tag with an svg for the icon, so we can't show/hide on the <i>
      so we need to include both and show/hide them based on isCollapsed -->
      <button type="button" class="btn btn-link" [hidden]="!isCollapsed">
        <i class="fas fa-chevron-up"></i>
      </button>
      <button type="button" class="btn btn-link" [hidden]="isCollapsed">
        <i class="fas fa-chevron-down"></i>
      </button>
    </p>
  </div>
  <div *ngIf="!isCollapsed" @vslider>
    <div class="form-row py-3">
      <div class="form-group col-md">
        <label for="start_frequency">Start</label>
        <div class="input-group">
          <input type="text" name="start_frequency" id="start_frequency" class="form-control" formControlName="start_frequency_num" />
          <div class="input-group-append">
            <div ngbDropdown>
              <button class="btn btn-secondary" type="button" ngbDropdownToggle>{{ startHz }}</button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button type="button" class="dropdown-item" *ngFor="let hz of validHz" (click)="updateStartHz(hz)">{{hz}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="border rounded border-danger text-danger mt-1 p-1" *ngIf="frequencyGroup.get('start_frequency_num').errors && frequencyGroup.get('start_frequency_num') && frequencyGroup.get('start_frequency_num').errors.invalidFrequency">
          Only enter numbers
        </div>
      </div>
      <div class="form-group col-md">
        <label for="end_frequency">End</label>
        <div class="input-group">
          <input type="text" name="end_frequency" id="end_frequency" class="form-control" formControlName="end_frequency_num"/>
          <div class="input-group-append">
            <div ngbDropdown>
              <button class="btn btn-secondary" type="button" ngbDropdownToggle>{{ endHz }}</button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button type="button" class="dropdown-item" *ngFor="let hz of validHz" (click)="updateEndHz(hz)">{{hz}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="border rounded border-danger text-danger mt-1 p-1" *ngIf="frequencyGroup.get('end_frequency_num').errors && frequencyGroup.get('end_frequency_num') && frequencyGroup.get('end_frequency_num').errors.invalidFrequency">
          Only enter numbers
        </div>
      </div>
    </div>
  </div>
</fieldset>
