<app-header></app-header>

<div class="container-fluid">
  <form class="row bg-light border-bottom">
    <div class="form-group col-12 pt-4 pb-2 px-5">
      <div class="input-group">
        <label for="search" class="sr-only">Search</label>
        <div class="input-group-prepend">
          <button type="button" class="btn btn-primary rounded-left"><i class="fas fa-search"></i></button>
        </div>
        <input type="text" name="search" class="form-control form-control-lg" id="search"
               placeholder="Search for Project Code, Title, Abstract, PI Name, or File Name">
      </div>
    </div>
  </form><!-- // row -->

  <div class="row">
    <div class="bg-light border-right col-12" [ngClass]="showFilterList ? 'col-md-3' : 'col-md-auto'">
      <div class="row py-2 align-items-baseline">
        <div class="col text-uppercase" [ngClass]="showFilterList ? 'col' : 'd-md-none'">
          <p class="m-0">Filters</p>
        </div>
        <div class="col-auto">
          <!-- fontawesome replaces the <i> tag with an svg for the icon, so we can't show/hide on the <i>
          so we need to include both state buttons and show/hide them based on isCollapsed
          in this case, because on mobile screens we need up/down instead of right/left, we need 4 buttons-->
          <button type="button" class="btn btn-primary btn-sm d-md-none" *ngIf="showFilterList" (click)="showFilterList = !showFilterList"><i class="fas fa-chevron-up"></i></button>
          <button type="button" class="btn btn-primary btn-sm d-md-none" *ngIf="!showFilterList" (click)="showFilterList = !showFilterList"><i class="fas fa-chevron-down"></i></button>
          <button type="button" class="btn btn-primary btn-sm d-none d-md-inline-block" *ngIf="showFilterList" (click)="showFilterList = !showFilterList"><i class="fas fa-chevron-left"></i></button>
          <button type="button" class="btn btn-primary btn-sm d-none d-md-inline-block" *ngIf="!showFilterList" (click)="showFilterList = !showFilterList"><i class="fas fa-chevron-right"></i></button>
        </div>
      </div>
      <app-filters *ngIf="showFilterList"></app-filters>
    </div><!--// col -->

    <div class="col">
      <app-results></app-results>
    </div><!--// col -->
  </div><!-- // row -->
</div><!-- // container -->

<app-footer></app-footer>
