<div *ngIf="spinner" id="spinner">
  <img src="../../assets/images/draft_spinner200x200_50fps.gif" alt="Loading" />
  <h4>{{ spinnerText }}</h4>
</div>
<div class="container-fluid" *ngIf="resultType">
    <div class="row">

      <!-- the filter side rail -->
      <div class="bg-light border-right col-12" [ngClass]="showFilterList ? 'col-lg-4 col-xl-3' : 'col-lg-auto col-xl-auto'">
        <div class="row py-2 text-right">
          <div class="col">
            <!-- fontawesome replaces the <i> tag with an svg for the icon, so we can't show/hide on the <i>
            so we need to include both state buttons and show/hide them based on isCollapsed
            in this case, because on mobile screens we need up/down instead of right/left, we need 4 buttons-->
            <button type="button" class="btn btn-outline-primary btn-sm d-lg-none" *ngIf="showFilterList"
                    (click)="showFilterList = !showFilterList">Hide Filters
            </button>
            <button type="button" class="btn btn-primary btn-sm d-lg-none" *ngIf="!showFilterList"
                    (click)="showFilterList = !showFilterList">Show Filters
            </button>
            <button type="button" class="btn btn-outline-primary btn-sm d-none d-lg-inline-block" *ngIf="showFilterList"
                    (click)="showFilterList = !showFilterList"><i class="fas fa-chevron-left"></i> Hide Filters
            </button>
            <button type="button" class="btn btn-primary btn-sm d-none d-lg-inline-block" *ngIf="!showFilterList"
                    (click)="showFilterList = !showFilterList"><i class="fas fa-chevron-right"></i>
            </button>
          </div>
        </div>
        <app-filters *ngIf="showFilterList" [resultType]="resultType"></app-filters>
      </div>
      <!-- // filter side rail -->

      <div class="col">

        <app-selected-filters></app-selected-filters>

        <!-- results list control -->
        <div class="row bg-light py-3 align-items-baseline border-top">
          <div class="col-xs-12 col-lg">
            <p class="mb-2 mb-lg-0">{{numResults | number:'1.0-0'}} {{resultType.name}}</p>
          </div>
          <div class="col-auto">
            <div class="form-group m-0">
              <div class="btn-group">
                <button id="to-first-page" class="btn btn-outline-secondary btn-sm" (click)="goToPage(1)"><i class="fas fa-fast-backward"></i></button>
                <button id="back-one-page" class="btn btn-outline-secondary btn-sm" (click)="goToPage(currentPage-1)"><i class="fas fa-step-backward"></i></button>
                <div class="btn-group" ngbDropdown>
                  <button class="btn btn-outline-secondary btn-sm" type="button" id="page-select" ngbDropdownToggle>Page {{currentPage}}</button>
                  <ul style="height: 200px; overflow-y: scroll;" ngbDropdownMenu>
                    <li ngbDropdownItem *ngFor="let p of getPages(); let i = index"><button type="button" class="btn btn-link p-0" (click)="goToPage(i+1)">Page {{i+1}}</button></li>
                  </ul>
                </div>
                <button id="forward-one-page" class="btn btn-outline-secondary btn-sm" (click)="goToPage(currentPage+1)"><i class="fas fa-step-forward"></i></button>
                <button id="to-last-page" class="btn btn-outline-secondary btn-sm" (click)="goToPage(pages)"><i class="fas fa-fast-forward"></i></button>
              </div>
            </div>
          </div><!--// col -->

          <div class="col-auto text-right">
            <div ngbDropdown>
              <button class="btn btn-outline-secondary btn-sm" type="button" ngbDropdownToggle>{{resultsPerPage}} Per Page</button>
              <div class="scrollable-menu" ngbDropdownMenu>
                <button ngbDropdownItem *ngFor="let perPage of allowedResultsPerPage" (click)="setResultsPerPage(perPage)">{{perPage}} Per Page</button>
              </div>
            </div>
          </div><!--// col -->

        </div><!--// row -->
        <!--// results list control -->


          <app-observation-results *ngIf="resultType && resultType.name == 'Observations'" [searchResults]="searchResults"></app-observation-results>
          <app-image-results *ngIf="resultType && resultType.name == 'Images'" [searchResults]="searchResults"></app-image-results>
          <app-project-results *ngIf="resultType && resultType.name == 'Projects'" [searchResults]="searchResults"></app-project-results>

      </div><!--// col -->
    </div><!-- // row -->
</div><!-- // container -->
