#spinner { position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 1000; overflow: auto; text-align: center; padding-top: 10%; background: rgba(0,0,0,0.4); }
#spinner h4 { color: #ffffff; text-shadow: 0 0 2px #000000; }
